<div class="container col-md-12 d-flex justify-content-center mt-5">
    <div class="row col-md-4 p-4 shadow-lg">
        <div class="col-md-12 text-center mb-3"><b>LOGIN</b></div>
        <form [formGroup]="loginForm" action="" class="text-center align-items-between" >
            <input-container [showErrorWhen]="isSubmitted"  [control]="this.fc['email']" placeholder="example@gmail.com" type="email"></input-container>
            <input-container [showErrorWhen]="isSubmitted"  [control]="this.fc['password']" placeholder="password" type="password"></input-container>
            <div class="col-md-12 mt-1">
                <a   (click)="submit()" class="btn btn-info">Login</a>
            </div>
        </form>
        <div class="mt-2 col-md-12 text-center">
            <a [routerLink]="['/register']">create an account?</a>
        </div>
    </div>
</div>

