<div class="contianer text-center col-md-12 d-flex justify-content-center">
    <div class="col-md-6">
        <form [formGroup]="urlForm" class="row col-md-12 form-inline" (ngSubmit)="submit()">
            <h1>URL Shrinker</h1>
            <div class="bg-warning col-md-12 col-lg-8">
                <label for="" class="sr-only">URL</label>
            <input type="text" formControlName="urlFull" id="fullUrl" class="form-control">
            <span class="error-list" *ngIf="fc['urlFull'].errors && isSubmitted">
                <p *ngIf="fc['urlFull'].errors['required']" class="text-danger" >*invalid</p>
                <p *ngIf="fc['urlFull'].errors['minlength']" class="text-danger">*select url atleast large</p>
            </span>
            </div>
            <div class="col-md-12 col-lg-4">
                <button mat-raised-button type="submit" >Shrink</button>
            </div>
        </form>
        <div class="row" *ngIf="shortUrl">
                <a (click)="urlSubmit(shortUrl)">{{shortUrl}}</a> 
            <button
            mat-raised-button color="primar"
            [cdkCopyToClipboard]="shortUrl"
            >Copy</button>
        </div>
    </div>
   </div>


   <!-- NgTinyUrlService -->